# line endings
* text=auto eol=lf

# file encodings
*.yaml zos-working-tree-encoding=ibm-1047 git-encoding=utf-8
*.yml zos-working-tree-encoding=ibm-1047  git-encoding=utf-8
*.cpy zos-working-tree-encoding=ibm037    git-encoding=utf-8
*.cbl zos-working-tree-encoding=ibm037    git-encoding=utf-8
*.bind zos-working-tree-encoding=ibm037   git-encoding=utf-8
*.bms zos-working-tree-encoding=ibm037    git-encoding=utf-8
*.pli zos-working-tree-encoding=ibm037    git-encoding=utf-8
*.mfs zos-working-tree-encoding=ibm-1047  git-encoding=utf-8
*.bnd zos-working-tree-encoding=ibm037    git-encoding=utf-8
*.lnk zos-working-tree-encoding=ibm037    git-encoding=utf-8
*.txt zos-working-tree-encoding=ibm-1047  git-encoding=utf-8
*.groovy zos-working-tree-encoding=ibm-1047 git-encoding=utf-8
*.sh zos-working-tree-encoding=ibm-1047   git-encoding=utf-8
*.properties zos-working-tree-encoding=ibm-1047 git-encoding=utf-8
*.asm zos-working-tree-encoding=ibm037    git-encoding=utf-8
*.jcl zos-working-tree-encoding=ibm037    git-encoding=utf-8
*.mac zos-working-tree-encoding=ibm037    git-encoding=utf-8
*.json zos-working-tree-encoding=utf-8    git-encoding=utf-8
*.ctl zos-working-tree-encoding=ibm037    git-encoding=utf-8
*.load zos-working-tree-encoding=ibm037   git-encoding=utf-8
*.proc zos-working-tree-encoding=ibm037   git-encoding=utf-8
*.incl zos-working-tree-encoding=ibm037   git-encoding=utf-8
*.sql zos-working-tree-encoding=ibm037    git-encoding=utf-8
*.cicsval zos-working-tree-encoding=ibm037 git-encoding=utf-8
*.link zos-working-tree-encoding=ibm037   git-encoding=utf-8
*.doctext zos-working-tree-encoding=ibm037 git-encoding=utf-8
*.rexx zos-working-tree-encoding=ibm037   git-encoding=utf-8
*.temp zos-working-tree-encoding=ibm037   git-encoding=utf-8
*.fdef zos-working-tree-encoding=ibm037   git-encoding=utf-8
*.pdef zos-working-tree-encoding=ibm037   git-encoding=utf-8
*.over zos-working-tree-encoding=ibm037   git-encoding=utf-8
